<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Wypożyczalnia sprzętu budowlanego</title>
</head>
<body>

<header>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
    </nav>
</header>

<main role="main">

    <section class="jumbotron text-center">

        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <h1>Wypożyczalnia sprzętu budowlanego</h1>
                    <p class="lead text-muted">Firma Instalacyjno – Budowlana AABEL od początku swojej działalności zajmuje się wykonywaniem instalacji elektrycznych,
                        instalacji odgromowych, sieci komputerowych oraz zintegrowanych instalacji sterowania budynkami.
                    </p>
                </div>
<!---->
                <div class="col-sm-6">
                    <!--                    <img class="bd-placeholder-img card-img-top" width="50%" height="50%"-->
                    <img width="50%" src="../images/aabel-logo.jpg"/>
                </div>
<!---->
            </div>
        </div>

    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-4" th:each="equipment : ${allEquipment}">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="50%" height="50%"
                             th:src="${equipment.getPathToImage()}"/>
<!--                             src="images/e8-wifi.png"/>-->
                        <!--                             th:src="@{../images/e8-wifi.jpg}" src="images/e8-wifi.jpg"/>-->
                        <!--                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                        <!--                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"-->
                        <!--                             role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>-->
                        <!--                            <rect width="100%" height="100%" fill="#55595c"/>-->
                        <!--                            &lt;!&ndash;                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>&ndash;&gt;-->
                        <!--                        </svg>-->
                        <div class="card-body">
                            <p class="card-text" th:text="${equipment.getName()}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!--                                <small class="text-muted" th:text="${equipment.getPrice()}"></small>-->
                                <small class="text-muted" th:inline="text">Cena: [[${equipment.getPrice()}]]</small>
                                <div class="btn-group">
<!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">WypożyczBTN</button>-->
<!--                                    <a th:href="@{'/users/doDelete/' + ${equipment.getId()}}">-->
<!--                                        <span>WypożyczA</span>-->
<!--                                    </a>-->

                                    <form th:action="@{'/rental/' + ${equipment.getId()}}" method="post">
                                        <!--                                        <input type="hidden" th:field="*{getEquipment()}" />-->
<!--                                        <input type="text" th:field="*{equipment}" th:value="${equipment.id}"/>-->
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">WypożyczFORM</button>
                                    </form>

<!--                                    <form th:action="@{/add-rental}" th:object="${newRental}" method="post">-->
<!--                                        &lt;!&ndash;                                        <input type="hidden" th:field="*{getEquipment()}" />&ndash;&gt;-->
<!--                                        <input type="text" th:field="*{equipment}" th:value="${equipment.id}"/>-->
<!--                                        <button type="submit">WypożyczFORM</button>-->
<!--                                    </form>-->

<!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">Wypożycz z usługą-->
<!--                                    </button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a
                href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>